:root {
    --background-header: #0A2453;
    --white-color: #ffffff;
    --yellow-copper: #f9bc00;
    --yellow-copper-hove: #ae8264;
    --red-color: #C85652;
    --color-blue:#1E73BE;
    --data-background-color: linear-gradient(140deg, rgb(73, 188, 246) 0%, rgb(73, 222, 178) 100%);
}

.mg{
    margin: 20px 0;
}

section{
    padding: 40px 0;
}

/* header */


.header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999996;
    background: var(--white-color);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    box-shadow: 0 1px 2px hsl(0deg 0% 0% / 6%);
    border-bottom: 1px solid var(--white-color);
}

.header .header-top {
    background-color: var(--background-header);
    padding: 10px 0;
}

.header .header-top .inner {
    display: flex;
    justify-content: space-between;
}

.header .header-top .inner .box-left {
    display: flex;
    align-items: center;
}

.header .header-top .inner .box-left .fa-solid {
    font-size: 1.6rem;
    color: var(--white-color);
    margin: 0 5px;
}

.header .header-top .inner .box-left .map span,
.header .header-top .inner .box-left .phone span {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header .header-top .inner .box-left .phone {
    margin: 0 10px;
}

.header .header-top .inner .box-right .list-info {
    display: flex;
    align-items: center;
}

.header .header-top .inner .box-right .list-info .fa-brands {
    font-size: 1.6rem;
    color: var(--white-color);
    margin: 0 5px;
}


.header .header-bottom {
    padding: 10px 0;
}

.header .header-bottom .inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .header-bottom .inner .header-bottom-left .logo img{
    max-width: 250px;
}




.modal {
    position: absolute;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.modal.is-visible {
    visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: -12%;
  width: 80%;
  border: 2px dashed var(--yellow-copper) !important;
  padding: 10px !important;
  background: var(--background-header) !important;
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 1em;
}

.modal-header {
  position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background: transparent;
    font-size: 20px;
    border: none;
    color: var(--white-color);
}

.inner-top .title{
    color: var(--white-color) !important;
}

.modal-wrapper .form-contact-home{
    border: none !important;
}

.header-bottom-left .form-contact-home.is-visible {
    visibility: visible;
}

.header .header-bottom .inner .header-bottom-right{
    display: flex;
    align-items: center;
    position: relative;
}

.header .header-bottom .inner .header-bottom-right .menu {
    display: flex;
    justify-content: center;
}

.header .header-bottom .inner .header-bottom-right .menu li {
    margin: 0 20px;
}

.header .header-bottom .inner .header-bottom-right .menu li a {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--background-header);
}

.header .header-bottom .inner .header-bottom-right .menu li:hover a {
    color: var(--yellow-copper);
    border-bottom: solid 1px var(--yellow-copper);
    margin-bottom: 2px;
}

.header .header-bottom .inner .header-bottom-right .btn-project a{
    font-size: 1.3rem;
    padding: 10px 15px;
    color: var(--background-header);
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid var(--background-header);
    border-radius: 8px;
    margin: 0 10px;
    cursor: pointer;
}

.header .header-bottom .inner .header-bottom-right .btn-project a:hover{
    color: var(--white-color);
    background: var(--background-header);
}
.header .header-bottom .menu-mobile-icon{
    display: none;
}


/* End header */

/* mobile */
.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 450px;
    padding: 12px;
    background-color: var(--white-color);
    box-shadow: 0 4px 32px 0 rgb(10 14 29 / 2%), 0 8px 64px 0 rgb(10 14 29 / 8%);
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 999998;
}
.menu-mobile.open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    z-index: 99999999999;
}

.menu-mobile .menu-top {
    display: flex;
    justify-content: space-between;
}

.menu-mobile .menu-top .logo img{
    max-width: 200px;
}

.menu-mobile .menu li:last-child{
    border-bottom: 1px solid #ececec;
}

.menu-mobile .menu li:first-child{
    border-top: none;
}
.menu-mobile .menu li{
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
   border-top: 1px solid #ececec;
}

.menu-mobile .btn-project{
    display: flex;
    justify-content: center;
}

.menu-mobile .btn-project a{
    font-size: 1.3rem;
    padding: 6px 10px;
    color: var(--background-header);
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid var(--background-header);
    border-radius: 8px;
    margin:20px 0;
}

/* end mobile */

/* Slide-home */

.slide-home{
    padding : 0 !important;
}

.slide-home .box-slide .box-item .img-wrap {
    padding-top: 6% !important;
}

.slide-home .box-slide .box-item .img-wrap img {
    z-index: 1;
}

.slide-home .box-slide .box-item .img-wrap .item-content .btn-slide {
    padding: 15px 20px;
    color: var(--white-color);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid var(--white-color);
    border-radius: 8px;
}

.slide-home .box-slide .box-item .img-wrap .item-content .btn-slide:hover {
    background-color: var(--yellow-copper);
}

.arrow .arrow-left {
    position: absolute;
    z-index: 1;
    top: 50%;
    border-radius: 50%;
    left: 2%;
    border: 1px solid var(--white-color);
    width: 35px;
    height: 35px;
    color: #fff;
    transform: translateX(20%);
    display: none !important;
    transition: 2s;
}

.arrow .arrow-left:hover {
    background: var(--yellow-copper);
}

.arrow .arrow-left .icon-arrow-left {
    margin: 7px 10px;
    font-size: 20px;
}

.arrow .arrow-right {
    position: absolute;
    z-index: 1;
    top: 50%;
    border-radius: 50%;
    right: 2%;
    border: 1px solid var(--white-color);
    width: 35px;
    height: 35px;
    color: #fff;
    transform: translateX(20%);
    display: none !important;
    transition: 2s;
}

.arrow .arrow-right:hover {
    background: var(--yellow-copper);
}

.arrow .arrow-right .icon-arrow-right {
    margin: 7px 10px;
    font-size: 20px;
}

.slide-home:hover .arrow .arrow-left,
.slide-home:hover .arrow .arrow-right {
    display: block !important;
    transform: translateX(0%);
    transition: 2s;
}


/* End slide-home */


/* section vinahome */

 .inner-top{
    margin: 0 auto;
    padding-bottom: 30px;
}


.inner-top .title{
    color: var(--background-header);
    font-weight: 700;
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.inner-top .is-drive{
    background-image: url(../images/line.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 20px;
    margin: 0 auto;
}

.inner-top .desc{
    font-size: 14px;
    margin: 20px 0;
    text-align: center;
}

.vinahome .inner-top .title {
    color: var(--background-header) !important;
}


.vinahome .item .icon{
    background: var(--yellow-copper);
    width: 100px;
    height: 100px;
    border: 2px solid var(--yellow-copper);
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.vinahome .item .icon img {
    position: absolute;
    width: 60px;
    height: 76px;
    left: 17%;
    bottom: 12%;
}

.vinahome .item .content {
    text-align: center;
}

.vinahome .item .content .title{
    color: var(--background-header);
    font-size: 1.6rem;
    margin: 15px 0;
}

.vinahome .item .content .desc{
    font-size: 1.4rem;
}

.vinahome .btn-learn-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

.vinahome .btn-learn-about a{
    padding: 10px 20px;
   background: var(--color-blue);
   color: var(--white-color);
   font-size: 14px;
   border-radius: 8px;
}

.vinahome .btn-learn-about a svg{
    width: 0rem !important;
    transition: all 0.6s;
}

.vinahome .btn-learn-about a:hover svg{
    width: 3.2rem !important;
}

/* end section vinahome */

/* section project */

.project{
    background: #f1f1f1;
}

.project .item .img-wrap{
    padding-top: 75.25%;
}
.project .item .img-wrap img:hover{
    -webkit-transform: scale(1.07) translateZ(0);
    transform: scale(1.07) translateZ(0);
    transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.project .inner-top .title {
    color: var(--background-header) !important;
}

.project .item-content{
    padding: 20px 20px;
    border: 1px solid var(--yellow-copper);
    border-top: 0;
}

.project .item-content .title{
    font-size: 1.4rem;
    text-align: center;
}

.project .btn-project{
    text-align: center;
    margin: 10px 0;
}

.project .btn-project a{
    border: 2px solid currentColor;
    color: var(--background-header);
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: 700;
}

.project .btn-project a:hover,
.project .btn-project a:hover .fa-plus{
    background-color: var(--background-header);
    color: var(--white-color);
}

.project .btn-project a .fa-plus{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--background-header);
    margin: 0 5px;
}
/* end section project */

/* contact-home */

.contact-home{
    background-image: url(../images/contact-home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-home .title{
    background-color: var(--white-color);
    width: auto;
    text-align: center;
    font-size: 22px;
    color: var(--background-header);
    margin-top: 0px;
    padding: 10px;
    opacity: 0.7;
    margin-bottom: 70px;
}

.form-contact-home{
    border: 2px dashed var(--yellow-copper) !important;
    padding: 10px !important;
    background: var(--background-header) !important;
}


.form-contact-home .wpcf7-form .wpcf7-form-control-wrap input,
.form-contact-home .wpcf7-form .wpcf7-form-control-wrap textarea {
    width: 100%;
    font-size: 14px;
    padding: 10px 10px;
    margin: 10px 0;
}

.form-contact-home .wpcf7-form .btn-submit input{
    background-color: var(--background-header);
    border: 2px dashed var(--yellow-copper) !important;
    color: var(--white-color);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    width: 146px;
    height: auto !important;
    display: block;
    border: none;
    padding: 10px 0;
    cursor: pointer;
}

.contact-home .box-content{
    background-color: var(--white-color);
    padding: 10px 10px 10px 10px;
    margin: 0 0px 0px 0px;
}

.contact-home .box-content .h-title{
    color: var(--yellow-copper-hove);
    font-size: 30px;
    margin-bottom: 0.5em;
}

.contact-home .box-content .desc{
    font-size: 1.6rem;
    margin-bottom: 1.3em;
}

.contact-home .box-content .h-desc{
    font-size: 1.6rem;
    margin-bottom: 1.3em;
    text-transform: uppercase;
}

.contact-home .box-content .phone{
    border: 2px dashed var(--background-header);
    padding: 40px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--yellow-copper-hove);
    margin-bottom: 0px;
    margin-top: 44px;
}

/* contac-home */


/* new */
.new{
    position: relative;
}
.new .box-item{
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.new .inner-top .title {
    color: var(--background-header) !important;
}

.new .box-item .content{
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    height: 150px;
    margin-bottom: 20px;
}

.new .box-item .content .title{
    font-size: 1.8rem;
    color: var(--color-blue);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.new .box-item .content .desc{
    font-size: 1.4rem;
    text-align: center;
}

.new .box-item .content .desc{
    font-size: 1.4rem;
    text-align: center;
}

.new .arrow .arrow-left {
    position: absolute;
    z-index: 1;
    top: 50%;
    border-radius: 50%;
    left: 1%;
    border: 1px solid  var(--background-header);
    width: 35px;
    height: 35px;
    color: var(--background-header);
    transform: translateX(20%);
    transition: 2s;
    display: block !important;
    cursor: pointer;
}

.new .arrow .arrow-left:hover,
.new .arrow .arrow-right:hover {
    background: var(--background-header);
    color: var(--white-color);
}

.new .arrow .arrow-left .icon-arrow-left {
    margin: 7px 10px;
    font-size: 20px;
}

.new .arrow .arrow-right {
    position: absolute;
    z-index: 1;
    top: 50%;
    border-radius: 50%;
    right: 2%;
    border: 1px solid  var(--background-header);
    width: 35px;
    height: 35px;
    color: var(--background-header);
    transform: translateX(20%);
    transition: 2s;
    display: block !important;
    cursor: pointer;
}

.new .arrow .arrow-right .icon-arrow-right {
    margin: 7px 10px;
    font-size: 20px;
}


/* end new */

/* footer */
.footer .footer-top{
    padding: 40px 0;
    background: #F1EDED;
}

.footer .footer-top .box-left .logo img{
    max-width: 400px;
}

.footer .footer-top .box-left .name-cty{
    font-size: 2rem;
    color: var(--color-blue);
    font-weight: 700;
}

.footer .footer-top .box-left .list-info{
    margin: 20px 0;
}

.footer .footer-top .box-left .list-info .item{
    margin: 20px 0;
    font-size: 1.4rem;

}

.footer .footer-top .box-right iframe{
    width: 100%;
    height: 350px;
}

.footer .footer-bottom{
   background-color: var(--background-header);
   padding: 20px 0;
}

.footer .footer-bottom .copy-right{
    text-align: center;
    font-size: 1.4rem;
    color: var(--white-color);
}
/* End footer */

/* banner */

.banner {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0 0 0 / 28%);
    z-index: 99;
}

.banner .title{
    text-align: center;
    font-size: 4rem;
    color: var(--white-color);
    padding: 30px 0 ;
    z-index: 100;
    position: relative;
}

/* end banner */

/* page-about */

.page-about .content{
    padding: 1.2rem;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    background-color: var(--white-color);
}

.page-about .content p{
    margin: 10px 0;
    font-size: 16px;
}

/* end page-about */

/* sidebar */
.sidebar{
  position: sticky;
  top: 95px;
  height: max-content;
}
 .box-item-support{
    margin-bottom: 2rem;
    background: var(--data-background-color);
    color: var(--white-color);
    padding: 1.6rem;
    border-radius: 10px;
 }

 .box-item-support .title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1.2rem;
 }
 .box-item-support .item-support .item{
    display: flex;
    margin: 20px 0;
 }
 .box-item-support .item-support .item i{
    width: 3.2rem;
    height: 3.2rem;
    border: 0.1rem solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
 }
 .box-item-support .item-support .item .title{
    margin: 0 10px;
 }

 .box-item-project .title{
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: flex-start;
 }

 .box-item-project .title .icon{
    width: 5rem;
    height:4rem;
    font-size: 2rem;
    background: #ff9801;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .box-item-project .title .name-item{
    background: var(--data-background-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 2rem;
    width: 100%;
    padding: 5px 10px;
 }

 .box-item-project .item-project{
    background: var(--white-color);
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    padding: 1.6rem;
 }

 .box-item-project .item-project .item{
    margin: 20px 0;
    display: block;
 }

 .box-item-project .item-project .item .item-content{
    padding: 10px;
    border: 1px solid var(--yellow-copper);
    border-top: 0;
    text-align: center;
 }

 .box-item-project .item-project .item .item-content .name-project{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
 }

/* end sidebar */

/* category */

.main-category  .box-item .content {
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    height: 150px;
    margin-bottom: 20px;
}

.main-category .box-item .content .title {
    font-size: 1.8rem;
    color: var(--color-blue);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.main-category .box-item .content .desc {
    font-size: 1.4rem;
    text-align: center;
}

.main-category .btn-load-more{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.main-category .btn-load-more .facetwp-load-more{
    font-size: 1.3rem;
    padding: 10px 15px;
    color: var(--background-header);
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid var(--background-header);
    border-radius: 8px;
    margin: 0 10px;
    background: transparent;
    cursor: pointer;
}

/* end category */

/* page-contact */
 .page-contact .title-left{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--background-header);
    margin-bottom: 10px;
 }

 .page-contact .desc{
    font-size: 1.2rem;
 }
 .page-contact .desc p{
    margin-bottom: 10px;
 }

 .page-contact .title-right{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    color: var(--background-header);
    margin-bottom: 10px;
 }

 .form-contact .wpcf7-form .wpcf7-form-control-wrap input,
 .form-contact .wpcf7-form .wpcf7-form-control-wrap textarea {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    margin: 10px 0;
}

.form-contact .wpcf7-form .wpcf7-form-control-wrap textarea{
    height: 100px;
}
.form-contact .wpcf7-form p label{
    color: var(--red-color);
    font-size: 1.4rem;
}

.form-contact .wpcf7-form .wpcf7-submit {
    background-color: var(--background-header);
    border: 2px dashed var(--yellow-copper) !important;
    color: var(--white-color);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    width: 146px;
    height: auto !important;
    display: block;
    border: none;
    padding: 10px 0;
    cursor: pointer;
}

/* end page-contact */

/* section map */

.section-map{
    padding-top: 0;
}
.section-map iframe{
    width: 100%;
    height: 500px;
}

/* end section map */

/* main-taxonomy */

.main-taxonomy .item .img-wrap{
    padding-top: 91.25%;
}

.main-taxonomy .item .img-wrap img:hover {
    -webkit-transform: scale(1.07) translateZ(0);
    transform: scale(1.07) translateZ(0);
    transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main-taxonomy .item .content{
    padding: 20px 20px;
    border: 1px solid var(--yellow-copper);
    border-top: 0;
}

.main-taxonomy .item .title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
}

.main-taxonomy .btn-load-more {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.main-taxonomy .btn-load-more a {
    font-size: 1.3rem;
    padding: 10px 15px;
    color: var(--background-header);
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid var(--background-header);
    border-radius: 8px;
    margin: 0 10px;
    background: transparent;
    cursor: pointer;
}

/* end main taxonomy */

/* shop-container */


.shop-container .slider-nav{
    margin: 10px 0;
}

.shop-container .slider-nav .item {
    margin: 0 5px;
    opacity: .5;
}

.shop-container .slider-nav .item.slick-current{
    opacity: 1;
}

#breadcrumb{
    font-size: 1.4rem;
}

.shop-container .title{
    font-size: 2.6rem;
    color: var(--background-header);
    font-weight: 700;
    margin-top: 10px;
}

.shop-container .box-content{
    margin: 15px 0;
}

.shop-container .box-content .item{
    display: flex;
    margin: 20px 0;
}

.shop-container .box-content .item p{
    font-size: 1.6rem;
  
}

.shop-container .h-title{
    font-size: 1.6rem;
}

.shop-container .desc{
    margin: 10px 0;
    font-size: 1.6rem;
    width: 80%;
}
.shop-container .box-content .item p:first-child{
    width: 20%;
}

.shop-container .box-content .item p:last-child{
    width: 60%;
}

.project-info .inner-title{
    margin: 20px 0;
    text-align: center;
    font-size: 2rem;
}

.project-info .inner{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 0;
}

.project-info .title{
    font-size: 1.6rem;
    text-align: center;

}

.project-info .desc{
    font-size: 1.6rem;
}

/* end shop-container */

/* btn-goToTop */

.btn-goToTop {
    width: 35px;
    height: 35px;
    line-height: 35px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 13px;
    background: var(--yellow-copper);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    border: 4px dashed var(--yellow-copper)
}
.btn-goToTop .image{
    width: 20px;
    height: 20px;
    margin: 4px auto;
}